ul > li > a.active {
  background-color: #91C8E4;
  border-radius: 18px;
  font-weight: 600;
}
ul > li > a.active:hover {
    color: white;
text-decoration: none;
}
ul > li > a:hover {
  color: #91C8E4;
  text-decoration: underline;
}

form > fieldset > input:focus {
  border: 2px solid #f58f4b;
  outline: none;
  box-shadow: 0 0 5px 8px #f7945220;
}
form > input:focus {
  border: 2px solid #f58f4b;
  outline: none;
  box-shadow: 0 0 5px 8px #f7945220;
}
form > select:focus {
  border: 2px solid #f58f4b;
  outline: none;
  box-shadow: 0 0 5px 8px #f7945220;
}

form > input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #9ca3af62;
}
[data-theme="dark"] form > input {
  background-color: rgba(41, 40, 40, 0.37);
}

form input::placeholder {
  /* color: #9ca3afa8; */
  font-size: 12px;
}

.orange-btn {
  background-color: #91C8E4;
  color: rgb(3, 3, 104);
  border: none;
}
.orange-btn:hover {
  background-color: #78ccf7;
}

form label {
  color: var(--color-accent-content);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  font-size: 20px; /* Default is around 44px */
  width: 30px;
  height: 30px;
  color: white; /* Change if needed */
}